body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, a, p, span {
	margin: 0;
	padding: 0;
}


h1 {
	font-family: "GothamProMedium";
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	letter-spacing: -2.7px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.kbdbackground {
	background-image:url(../img/kbdbackground2.png);
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 80px;
}

.container {
	width: 814px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-top: 22px;

}

.block {
	width: 183px;
	height: 167px;
	background-color: white;
	border: 2px solid #eeeeee;
	border-radius: 5px;
	text-align: center;
}

#grey {
	background-color: #eeeeee;
}

#grey:hover {
	background-color: #b9d7ff;
	transition: 0.5s;
}

.block:hover {
	background-color: #eeeeee;
	transition: 0.5s;
}

.block-content {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.block-img {
	align-self: center;
	margin-bottom: 15px;
}

.block a {
	text-decoration: none;
	text-decoration: underline;
	color: #006cff;
	font-size: 16px;
	font-family: "GothamProMedium"

}

















@font-face {
font-family: "GothamProMedium"; 
src: url("../fonts/GothamProMedium.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 